.formDemo{
    margin-left: 119px;
    height:1139.58px;
    width:441px;
    padding:42px 24px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
    background-color: rgb(255, 255, 255);
}