.footer{
    width: 100%;
    background-color: rgb(244,250,249);
    height: 522.250px;
    padding: 80px 0px;
    display:flex;
    flex-direction: row;
}
.footerTable{
    width: 1092px;
    height: 522.250px;
    margin: auto;
    font-size: 17px;
    color: #828383;
    font-weight: bold;
}
.footerHeading{
    color: rgb(68,215,182);
    width: 204.75px;
}

@media only screen and (max-width:375px) {
   .footer{
    display: none;
   }
   .footerHeading{
    color: rgb(68,215,182);
    font-size: 17px;
    font-weight: bold;
    height: 24.69px;
    margin-left: 20px;
    width: 327px;
}
.triangle_down {
    position: relative;
  top: -2px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid rgb(68,215,182);
  border-top: 0.2em solid rgb(68,215,182);
  transform: rotate(135deg);
  margin-left: 232px;
  }
  .footerShow{
    display: flex;
    flex-direction: column;
    width: 327px;
    margin: auto;
    padding-left: 16px;
    padding-top: 10px;
    color: #828383;
    font-weight: bold;
  }
  .footerShow a{
    margin-bottom: 10px;
  }
  .footerHide{
    display: none;
  }
  }